
<section id="feed-posts">
    <h4>Posts</h4>
    <% if (locals.user) { %>
    <form action="/posts/create" method="POST" new-post-form>
        <textarea name="post" cols="30" rows="3" placeholder="Type Here..."></textarea>
        <input type="submit" value="Post">
    </form>
    <% } %>
    <div id="posts-list-container">
        <ul>
            <% for( post of posts ) { %>
                <%- include('_post') -%> 
            <% } %>
        </ul>
    </div>
</section>  

