<link rel="stylesheet" href="css/homestyle.css">
<form action="/users/login" method="get">
    <button type="submit">Login</button>
</form>
<form action="/users/signup" method="get">
    <button type="submit">Signup</button>
</form>
<script src="js/script.js"></script>