<form action="/users/auth" method="POST">
    <input type="email" name="email" placeholder="enter email" required>
    <input type="password" name="password" placeholder="Enter Password" required>
    <input type="submit" label="Submit">

</form>

<p>
    <a href="auth/get/google">google Sign In/Sign Up</a>
</p>