footer{
    background-color: rgb(87, 87, 87);
    display: flex;
    flex-wrap: wrap;
    p{
        margin-left: 1rem;
    }
    ul li{
        list-style: none;
        a{
            color: white;
            text-decoration: none;
        }
        a:hover{
            color: blue;
        }
    }
}