<%# read how to formate html mail  %> 

<div>
    <p>Hi <%= comment.user.name %> </p>
    <br>
    <p>Your comment <strong><%= comment.content %></strong> Just got Published on CodeBook.</p>
    <br>
    <br>
    <p>thanks</p>
</div>