header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #4285d1;
  font-family: sans-serif;
}

header span {
  margin-left: 10px;
  font-weight: 900;
}

header span a {
  text-decoration: none;
  color: white;
}

header span :hover {
  color: #5fcfbd;
}

header ul {
  display: flex;
}

header ul li {
  list-style: none;
  margin: 0px 10px;
  font-weight: 600;
}

header ul li a {
  text-decoration: none;
  color: white;
}

header ul li :hover {
  color: #5fcfbd;
}
